//清除模块
.clear_context{
    position:absolute;
    top:840px;
    left:721px;
}

//输入模块
.input{
    position:absolute;
    top:835px;
    left:766px;
    width:724px;
    height:48px;
    border:0.1px solid rgba(255, 255, 255, 0.55);
    background-color: rgb(24,24,24);
    color:white;
    border-radius: 45px;
    font-size: 16px;
    letter-spacing: 1px;
}

//输出模块
.output{
    position:absolute;
    top:780px;
    left:1410px;
    //width:100px;
    height:40px;
    background-color: rgb(52,69,193);
    border-radius:15px;

    span{
        position:absolute;
        top:7px;
        left:5px;
        font-size:17.5px;
        font-weight: 500;
        color:rgba(255, 255, 255);
        letter-spacing: 1px;
    }
}




//语音模块   
.voice{
    position: absolute;
    top:842px;
    left:1404px; 
}

//输入按钮
.input_button{
    position: absolute;
    top:840px;
    left:1447px; 
    width:40px;
    height:40px;
    border-radius: 45px;
    background-color: rgb(52,69,193);

    img{
        position: absolute;
        top:9px;
        left:8px;
    }
}