.background{
    position:absolute;
    top:0%;
    bottom: 0%;
    left:0%;
    right:0%;
    background-color: rgb(26, 24, 24);
}

.topcover{
    position: absolute;
    top:0%;
    bottom:94%;
    left:0%;
    right:0%;
    background-color: rgba(41, 41, 43, 0.87);
    opacity: 2;
}

.poe_img img{
    position:absolute;
    top:10px;
    left: 15px;
    width: 40px;
    background-color: rgba(41, 41, 43, 0.87);
}

.poe_title{
    position: absolute;
    top:6px;
    left:60px;
    color: white;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 450;
};

.chatgpt_img img{
    position:absolute;
    top:7px;
    left: 1040px;
    width: 37px;
    background-color: rgba(41, 41, 43, 0.87);
}

.chatgpt_title{
    position: absolute;
    top: 10px;
    left:1085px;
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.leftcover{ 
    position: absolute;
    top:6%;
    bottom:0%;
    left:0%;
    right:84%;
    background-color: rgba(3, 9, 51, 0.87);
    opacity: 2;
}

.explore_title{
    position: absolute;
    top:20px;
    left:30px;
    color:white;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




